In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/senth/Downloads/breast-cancer-wisconsin.data",header = None,na_values = "?")

In [3]:
data.head()

        0   1   2   3   4   5     6   7   8   9   10
0  1000025   5   1   1   1   2   1.0   3   1   1   2
1  1002945   5   4   4   5   7  10.0   3   2   1   2
2  1015425   3   1   1   1   2   2.0   3   1   1   2
3  1016277   6   8   8   1   3   4.0   3   7   1   2
4  1017023   4   1   1   3   2   1.0   3   1   1   2

In [4]:
data.columns = ['Sample_code_number','Clump_Thickness','Uniformity_of_Cell_Size','Uniformity_of_Cell_Shape','Marginal_Adhesion','Single-Epithelial_Cell_Size','Bare_Nuclei','Bland_Chromatin','Normal_Nucleoli','Mitoses','Class']

In [5]:
data.head()

,Sample_code_number,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single-Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1.0,3,1,1,2
1,1002945,5,4,4,5,7,10.0,3,2,1,2
2,1015425,3,1,1,1,2,2.0,3,1,1,2
3,1016277,6,8,8,1,3,4.0,3,7,1,2
4,1017023,4,1,1,3,2,1.0,3,1,1,2

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample_code_number           699 non-null    int64
 1   Clump_Thickness              699 non-null    int64
 2   Uniformity_of_Cell_Size      699 non-null    int64
 3   Uniformity_of_Cell_Shape     699 non-null    int64
 4   Marginal_Adhesion            699 non-null    int64
 5   Single-Epithelial_Cell_Size  699 non-null    int64
 6   Bare_Nuclei                  683 non-null    float64
 7   Bland_Chromatin              699 non-null    int64
 8   Normal_Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: float64(1), int64(10)
memory usage: 60.2 KB

In [7]:
data.shape

(699, 11)

In [8]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit_transform(data['Bare_Nuclei'])

array([ 0,  9,  1,  3,  0,  9,  9,  0,  0,  0,  0,  0,  2,  2,  8,  0,  0,
        0,  9,  0,  9,  6,  0, 10,  0,  6,  0,  0,  0,  0,  0,  0,  4,  0,
        0,  0,  0,  0,  9,  6, 10,  2,  9,  0,  0,  0,  8,  0,  0,  7,  2,
        3,  4,  7,  7,  4,  5,  0,  9,  1,  2,  1,  7,  1,  0,  1,  0,  9,
        8,  0,  0,  1,  0,  9,  3,  1,  0,  0,  2,  0,  0,  0,  0,  1,  8,
        3,  7,  9,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  5,  9,  4,  4,
        0,  2,  0,  2,  9,  9,  0,  8,  1,  8,  9,  7,  2,  4,  1,  9,  2,
        1,  0,  1,  9,  9,  6,  0,  9,  0,  9,  0,  0,  0,  9,  0,  0,  1,
        0,  0,  0, 10,  0,  0,  4,  4,  0, 10,  7,  1,  0,  9,  0,  9,  4,
        2,  0,  9,  0,  0, 10,  9,  9,  0,  0,  2, 10,  1,  9,  0,  0,  0,
        0,  0,  0,  9,  9,  9,  0,  0,  0,  9,  0,  0,  0,  9,  9,  0,  7,
        9,  7,  0,  7,  9,  0,  0,  0,  0,  6,  0,  0,  0,  9,  9,  0,  0,
        0,  9,  4,  0,  0,  0,  9,  7,  0,  9,  9,  4,  0,  0,  3,  0,  0,
        9,  4,  7,  9,  0,  9,  4,  0,  9,  6,  7,  0,  9,  0, 10,  9,  1,
        8,  9,  1,  0,  0,  4,  0,  1,  9,  8,  0, 10,  0,  9,  9,  9,  7,
        9,  0,  0,  0,  7,  9,  9,  9,  9,  2,  0,  9,  9,  3,  0,  9,  0,
        9,  3,  0, 10,  0,  0,  0,  6,  0,  0,  9,  9,  9,  9,  9,  0,  4,
        9,  0,  0, 10,  9, 10,  9,  4, 10,  0,  9,  3,  0,  9,  0,  9,  9,
        0,  0,  2,  4,  0,  0,  0,  0,  0, 10,  9,  7,  0,  4,  9, 10,  0,
        9,  0,  0,  9,  0,  3,  9,  7,  0,  0,  9,  9,  0,  9,  0,  0,  9,
        9,  0,  0,  0,  9,  0,  0,  0,  0,  7,  0,  0,  2,  9,  0,  0,  2,
        9,  3,  6,  9,  9,  2,  2,  0,  0,  9,  9,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  9,  0,  0,  0,  0,  9,  0,  0,  1,  0,
        9,  0,  0,  0,  0,  0,  0,  0,  0,  8,  0,  0,  3,  0,  0,  0,  0,
        1,  0,  0, 10,  3,  0,  9,  2,  9,  0,  1,  0,  2,  9,  0,  0,  0,
        9,  0,  1,  0,  0,  0,  0,  0,  0,  7,  9,  0,  0,  0,  0,  9,  3,
        2,  1,  0,  0,  0,  0,  0,  9,  0,  0,  0,  9,  0,  5,  9,  2,  0,
        0,  0,  4,  0,  0,  0,  3,  9,  9,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  9,  0,  0,  4,  9,  0,  2,  0,  9,  2,  3,  0,  9,  0,
        9,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  4,  3,  0,  0,
        0,  0,  0,  0,  9,  9,  0,  0,  0,  9,  0,  0,  4,  9,  0,  0,  0,
        0,  0,  0,  9,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,
        0,  0,  9,  0,  0,  4,  0,  0,  0,  4,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  9,  0,  2,  9,  4,  9,  9,  0,  0,  1,  0,  0,  0,
        0,  0,  0,  9,  9,  0,  0,  0,  9,  0,  2,  0,  0,  9,  9,  0,  9,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  9,  7,  0,  0,  9,  0,  9,  1,
        9,  0,  0,  0,  0, 10,  0,  0,  0,  1,  0,  0,  0,  3,  5,  4,  0,
        0,  0,  0,  0,  2,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  1,  0,  3,  0,  0,  0,  0,  0,  0,  0,  9,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  4,  7,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        9,  9,  0,  0,  0,  0,  0,  0,  0,  0,  0,  4,  0,  0,  1,  0,  2,
        3,  4], dtype=int64)

In [9]:
data['Bare_Nuclei'].unique()

array([ 1., 10.,  2.,  4.,  3.,  9.,  7., nan,  5.,  8.,  6.])

In [10]:
data.isnull().sum()

Sample_code_number              0
Clump_Thickness                 0
Uniformity_of_Cell_Size         0
Uniformity_of_Cell_Shape        0
Marginal_Adhesion               0
Single-Epithelial_Cell_Size     0
Bare_Nuclei                    16
Bland_Chromatin                 0
Normal_Nucleoli                 0
Mitoses                         0
Class                           0
dtype: int64

In [11]:
data.Bare_Nuclei.fillna(data.Bare_Nuclei.mean(),inplace = True)

In [13]:
x=data.drop('Class',axis=1)
y=data.Class

In [14]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=5, shuffle = False)

In [15]:
from keras.models import Sequential

In [16]:
from keras.layers import Activation,Dense,Dropout

In [17]:
model=Sequential()
model.add(Dense(8,input_dim=10,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(3,activation='relu'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics='accuracy')

In [18]:
model.fit(x,y,epochs=50)

Epoch 1/50
22/22 [==============================] - 5s 11ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 2/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 3/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 4/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 5/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 6/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 7/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 8/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 9/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 10/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 11/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 12/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 13/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 14/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 15/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 16/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 17/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 18/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 19/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 20/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 21/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 22/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 23/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 24/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 25/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 26/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 27/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 28/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 29/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 30/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 31/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 32/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 33/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 34/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 35/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 36/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 37/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 38/50
22/22 [==============================] - 0s 6ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 39/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 40/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 41/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 42/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 43/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 44/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 45/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 46/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 47/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 48/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 49/50
22/22 [==============================] - 0s 4ms/step - loss: 19.0694 - accuracy: 0.6552
Epoch 50/50
22/22 [==============================] - 0s 5ms/step - loss: 19.0694 - accuracy: 0.6552

In [19]:
model.evaluate(x,y)

22/22 [==============================] - 0s 3ms/step - loss: 19.0694 - accuracy: 0.6552

[19.069364547729492, 0.6552217602729797]